{% extends "layout.html" %}
{% block content %}
      <div class="content-section">
        <fieldset class="form-group">
          {% if reporter %}
            <legend class="border-bottom mb-4">{{ reporter }}</legend>
          {% else %}
            <legend class="border-bottom mb-4">Sensor List:</legend>
            {% for sensor in sensor_list %}
              <div class="form-group">
                <a class="btn btn-outline-info" href="/humidity/plot" style="width:200px;">{{ sensor }}</a>
              </div>
            {% endfor %}
          {% endif %}
        </fieldset>
        <div class="form-group">
          <br><a class="btn btn-outline-info" href="/humidity"> Let's Go Back</a>
        </div>
      </div>
{% endblock content %}
