{% extends "layout.html" %}
{% block content %}
      <h1>Welcome to our EC 463 Mini Project's Home Page</h1><br>
      <p>Our project utilizes SSO from google. The person can login from
        clicking the Login tab and the person can logout from clicking the
        Logout tab. If a person is not logged in and tries to click on the
        Temperature or Humidity tab, then they get redirected to the Login
        tab. After Logging in, the person can access the information on the
        temperature and the humidity tab. Even after closing the tab without
        logging out, when the person returns to the web application, he
        doesn't needs to login again since the person didn;t logout
        previouly.</p>

{% endblock content %}
